<!DOCTYPE html>
<html>
<head>
<!-- Sets up mapbox ref -->
<meta charset="utf-8">
<title>Display a map on a webpage</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>

 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
  
 
<style>
body { margin: 0; padding: 0; }
/* sets up map to show on entire page */
#mapid { position: absolute; top: 0; bottom: 0; width: 100%; }
/*sets up center for Show Map button*/
#center {width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;}



</style>
</head>
<body>
<div id=mapid>
    <div id = "center">
        <button onclick="checkGeoLocation()">Show Map</button>
    </div>    
</div>
<script>

var map;
var userMarker;
var waitInSeconds = 15;
var waitInMilliseconds = waitInSeconds * 1000;
var mapboxAccessToken;
var watchId;
var zoomLevel = 18;

//checks that user supports geolocation software. If so - runs showPosition function
function checkGeoLocation(){
if(navigator.geolocation){
    navigator.geolocation.getCurrentPosition(showPosition); //gets users position 
}
else{
    console.error("GeoLocation Not Supported"); //throws error in case geolocation not supported
}
}

//Finds user position if location sharing is on, and displays map on screen
function showPosition(position){
mapboxgl.accessToken = 'pk.eyJ1Ijoiamxlcm5lMSIsImEiOiJja215YmN1MDYwMmJoMnJxd29tenBvemRrIn0.2O58ULBCvmcTYgv3HMi9Yw';

// Get user coordinates after user accepts
    var latlng = L.latLng(position.coords.latitude, position.coords.longitude);

    // Generate map from leaflet.js
    map = L.map('mapid', {
        center: latlng,
        dragging: false,
        zoomControl: false
    }).setView([0, 0], 0);

    // Play animation that zooms in on user's location
    map.flyTo(latlng, zoomLevel);

    // This loads the tile's to the map from MapBox.
    // Be aware that the tiles will be queried from MapBox several times when the user first loads the page
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        maxZoom: zoomLevel,
        id: 'mapbox/outdoors-v11',
        tileSize: 512,
        zoomOffset: -1,
        reuseTiles: true,
        unloadInvisibleTiles: true,
        accessToken: 'pk.eyJ1Ijoiamxlcm5lMSIsImEiOiJja215YmN1MDYwMmJoMnJxd29tenBvemRrIn0.2O58ULBCvmcTYgv3HMi9Yw'
    }).addTo(map);
    
    //Custom marker using trainer.png
    var charIcon = L.icon({
        iconUrl: 'https://i.ibb.co/xfNLkmy/trainer.png',
        iconSize: [100,100]
        
    })


    // Add a marker to the map which identifies user's location
    userMarker = L.marker(latlng,{icon: charIcon}).addTo(map);
    
    
    
    // Disable user from changing zoom
    map.touchZoom.disable();
    map.doubleClickZoom.disable();
    map.scrollWheelZoom.disable();
    map.boxZoom.disable();
    map.keyboard.disable();

    // After zoom animation is finished, begin continuosly tracking user device location
    map.on('zoomend', trackUserLocation);

    
}
</script>
 
</body>

