{% load socialaccount %}
{% load static %}
<html>
  <head>
    <title>Pokinaturalist</title>
      <link rel="stylesheet" href="{% static 'login/index.css' %}">
  </head>
  <video poster="{% static 'images/img_3w.png' %}" autoplay playsinline muted loop id="back">
        <source src="{% static 'images/worldSpin.webm' %}" type="video/webm">
  </video>


<div id = "welcome">
    <body>

        <body>
        <div id ="anim"></div>
            <script src = "{% static 'login/lottie.js' %}"></script>
            <script src = "{% static 'login/script.js' %}"></script>
        </body>

    <header class="welcome-banner">
    <h1>Pokinaturalist

    {% if user.is_authenticated %}

   <span id="span1">Welcome, {{ user.username }} !</span>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="myButton" type="submit">sign out</button>
        </form>
        <button class="myButton" onclick="myFunction()">Continue</button>
        <script>
            function myFunction() {
                location.href = 'http://127.0.0.1:8000/pokinatrualist/home';
            }
        </script>

    {% else %}
    <span id="span1">Please Login</span>

   <button class="myButton" onclick="myFunction()">Sign in</button>
        <script>
            function myFunction() {
                location.href = 'http://127.0.0.1:8000/accounts/login';
            }
        </script>
    {% endif %}

    </body>
    </h1>
    </header>
</div>

</html>